.switch {
    margin-top: 20px;
    margin-bottom: 20px;
}
.switch label{
    font-size: 30px;
}

.theme {
    min-height: 200px;
    padding-top: 20px;
    color: #373737;
}

.theme span{
    font-size: 20px;
}